/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
	font-family: "Poppins"; font-size: 12px;
}
body {
	overflow-y:auto; overflow-x: hidden; 
}
a {
	text-decoration: none!important; transition: All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;
}
p {
	font:12px/14px 'Poppins'; font-weight: 400; margin: 5px 0 0 0;
}
p:first-child {
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ''; content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}

.sep1				{ height: 1px; }
.sep2				{ height: 2px; }
.sep3				{ height: 3px; }
.sep4				{ height: 4px; }
.sep5				{ height: 5px; }
.sep10			{ height: 10px; }
.sep15			{ height: 15px; }
.sep20			{ height: 20px; }
.sep30			{ height: 30px; }
.sep40			{ height: 40px; }
.sep50			{ height: 50px; }
.sep70			{ height: 70px; }
.sep100			{ height: 100px; }
.sep150			{ height: 150px; }
.sep200			{ height: 200px; }

.sep1mm			{ height: 1mm; }
.sep2mm			{ height: 2mm; }
.sep3mm			{ height: 3mm; }
.sep4mm			{ height: 4mm; }
.sep5mm			{ height: 5mm; }
.sep1cm			{ height: 10mm; }
.sep2cm			{ height: 20mm; }
.sep3cm			{ height: 30mm; }
.sep4cm			{ height: 40mm; }
.sep5cm			{ height: 50mm; }
.sep10cm		{ height: 100mm; }

.wauto			{ width: auto; }
.w20				{ width: 20px; }
.w30				{ width: 30px; }
.w50				{ width: 50px; }
.w100				{ width: 100px; }
.w120				{ width: 120px; }
.w150				{ width: 150px; }
.w200				{ width: 200px; }
.w250				{ width: 250px; }
.w300				{ width: 300px; }
.w500				{ width: 500px; }

.w30mm			{ width: 30mm; }
.w40mm			{ width: 40mm; }
.w50mm			{ width: 50mm; }
.w60mm			{ width: 60mm; }
.w70mm			{ width: 70mm; }

.w15cm			{ width: 15cm; }
.w16cm			{ width: 16cm; }
.w17cm			{ width: 17cm; }

.w100p			{ width: 100%; }

.pad1cm			{ padding: 10mm 10mm 0 10mm; }
.pad10			{ padding: 10px; }
.pad20			{ padding: 20px; }
.pad3mm			{ padding: 3mm; }
.pad5mm			{ padding: 5mm; }


::-webkit-scrollbar {
	width: 10px; height: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.05);
}
::-webkit-scrollbar-thumb {
	background: rgba(0,70,125,1.0);
}

.iconContainer {
	display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 20px;
}
.iconContainer .iconItem {
	width: calc((100%/4) - 42px - (60px / 4)); border: 1px solid rgba(0,0,0,0.5); padding: 20px; margin-top: 20px;
}
.iconContainer .iconItem img {
	max-height: 300px;
}

@media screen and (max-width: 768px) {

	body {
		width: 100%!important;
	}

}
