/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

html {
	font-family: "ubuntu"; font-size: 12px;
}
body {
	overflow-y:auto; overflow-x: hidden; color: #000 !important;
}
a {
	text-decoration: none!important;
}
p {
	font:12px/14px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 5px 0!important;
}
p:last-child {
	margin: 0!important;
}

h1	{
	font:32px/32px 'ubuntu'!important; font-weight: 700!important; margin: 0 0 10px 0;
}
h2	{
	font:28px/28px 'ubuntu'!important; font-weight: 700!important; margin: 0 0 10px 0;
}
h3	{
	font:24px/24px 'ubuntu'!important; font-weight: 500!important; margin: 0 0 10px 0;
}
h4	{
	font:20px/20px 'ubuntu'!important; font-weight: 500!important; margin: 0 0 10px 0;
}
h5	{
	font:18px/18px 'ubuntu'!important; font-weight: 500!important; margin: 0 0 10px 0;
}
h6	{
	font:14px/14px 'ubuntu'!important; font-weight: 500!important; margin: 0 0 10px 0;
}

.smalltext {
	font:10px/10px 'ubuntu'!important; font-weight: 300!important; margin: 0 0 3px 0;
}
.bigtext {
	font:14px/14px 'ubuntu'!important; font-weight: 500!important; margin: 0 0 3px 0; display: flex; align-items: center;
}
.textBold {
	font-weight: 700!important;
}



.sep1				{ height: 1px; }
.sep2				{ height: 2px; }
.sep3				{ height: 3px; }
.sep4				{ height: 4px; }
.sep5				{ height: 5px; }
.sep10			{ height: 10px; }
.sep15			{ height: 15px; }
.sep20			{ height: 20px; }
.sep30			{ height: 30px; }
.sep40			{ height: 40px; }
.sep50			{ height: 50px; }
.sep70			{ height: 70px; }
.sep100			{ height: 100px; }
.sep150			{ height: 150px; }
.sep200			{ height: 200px; }

.sep1mm			{ height: 1mm; }
.sep2mm			{ height: 2mm; }
.sep3mm			{ height: 3mm; }
.sep4mm			{ height: 4mm; }
.sep5mm			{ height: 5mm; }
.sep1cm			{ height: 10mm; }
.sep2cm			{ height: 20mm; }
.sep3cm			{ height: 30mm; }
.sep4cm			{ height: 40mm; }
.sep5cm			{ height: 50mm; }
.sep10cm		{ height: 100mm; }

.wauto			{ width: auto; }
.w20				{ width: 20px; }
.w30				{ width: 30px; }
.w50				{ width: 50px; }
.w100				{ width: 100px; }
.w120				{ width: 120px; }
.w150				{ width: 150px; }
.w200				{ width: 200px; }
.w250				{ width: 250px; }
.w300				{ width: 300px; }
.w500				{ width: 500px; }

.w30mm			{ width: 30mm; }
.w40mm			{ width: 40mm; }
.w50mm			{ width: 50mm; }
.w60mm			{ width: 60mm; }
.w70mm			{ width: 70mm; }

.w15cm			{ width: 15cm; }
.w16cm			{ width: 16cm; }
.w17cm			{ width: 17cm; }

.w100p			{ width: 100%; }



.pad1cm			{ padding: 10mm 10mm 0 10mm; }
.pad10			{ padding: 10px; }
.pad20			{ padding: 20px; }
.pad3mm			{ padding: 3mm; }
.pad5mm			{ padding: 5mm; }

::-webkit-scrollbar {
	width: 10px; height: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.05)!important;
}
::-webkit-scrollbar-thumb {
	background: rgba(0,70,125,1.0)!important;
}

.invertImage {
	filter: invert(1)!important;
}

.mobShowFlex, .mobShowBlock {
	display: none!important;
}
.mobHideFlex {
	display: flex!important;
}
.mobHideBlock {
	display: block!important;
}

fieldset {
	margin: 0; padding: 0; border: 0;
}

.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}
.textCenter {
	text-align: center;
}
.textJustify {
	text-align: justify;
}
.textBlue, .colorCavlentBlue {
	color: rgba(0,70,125,1.0)!important;
}
.colorWhite {
	color: #FFF!important;
}
.colorBlack {
	color: #000!important;
}
.colorGrey {
	color: rgba(0,0,0,0.2)!important;
}
.colorRed {
	color: #b80f0a!important;
}
.colorOrange {
	color: #ff5000!important;
}
.colorGreen {
	color: #008000!important;
}

/**
.uk-text-muted > a {
	background-color: rgba(0,70,125,1.0)!important; padding: 5px; color: #FFF; font:10px/10px 'ubuntu'!important; border-radius: 5px;
}
**/

.column-break {
	-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;
}

.flexit {
	display: flex;
}
.flexwrapit {
	flex-wrap: wrap;
}
.flexcolit {
	flex-direction: column;
}
.flexcenterit {
	justify-content: center; align-items: center;
}
.flexSpaceBetween {
	justify-content: space-between!important;
}
.flexjustcenter {
	justify-content: center;
}
.flexalignitemcenter {
	align-items: center;
}
.flex_100p_container {
	display: flex; position: absolute; width: 100vw; height: 100vh;
}
.flex_wrapOK {
	flex-wrap: wrap;
}


.background_container {
	display: block; position: fixed; z-index: 0; width: 100vw; height: 100vh;
}

.uploadfilecontainer {
	display: flex; justify-content: center; align-items: center; height: 38px; border: 1px dashed rgba(0,0,0,0.1);
}

.backcolor-black {
	background-color: #000!important; color: #FFF!important;
}
.backcolor-darkcerulean {
	background-color: #00467d!important; color: #FFF!important;
}
.backcolor-cavBlue06 {
	background-color: rgba(0,70,125,0.6)!important; color: #FFF!important;
}
.backcolor-cavBlue08 {
	background-color: rgba(0,70,125,0.8)!important; color: #FFF!important;
}
.backcolor-greyt60 {
	background-color: rgba(0,0,0,0.6)!important;
}
.backcolor-greyt1 {
	background-color: rgba(0,0,0,0.02)!important;
}
.backcolor-greyt5 {
	background-color: rgba(0,0,0,0.05)!important;
}
.backcolor-greyt10 {
	background-color: rgba(0,0,0,0.1)!important;
}
.backcolor-greyt20 {
	background-color: rgba(0,0,0,0.2)!important;
}
.backcolor-greyt40 {
	background-color: rgba(0,0,0,0.4)!important;
}
.backcolor-greyt50 {
	background-color: rgba(0,0,0,0.5)!important;
}

.backcolor-grey06 {
	background-color: rgba(0,0,0,0.06)!important;
}
.backcolor-grey08 {
	background-color: rgba(0,0,0,0.08)!important;
}
.backcolor-white010 {
	background-color: rgba(255,255,255,0.1)!important;
}
.backcolor-white050 {
	background-color: rgba(255,255,255,0.5)!important;
}


.animated_backcolor_blue {
	background: linear-gradient(227deg, rgba(0,70,125,0.1), rgba(0,70,125,0.2), rgba(0,70,125,0.3));
	background-size: 600% 600%;
	-webkit-animation: animated_backcolor_blue 10s ease infinite; -moz-animation: animated_backcolor_blue 10s ease infinite; -o-animation: animated_backcolor_blue 10s ease infinite; animation: animated_backcolor_blue 10s ease infinite;
}
.animated_backcolor_blue2 {
	background: linear-gradient(227deg, rgba(0,70,150,1), rgba(0,70,125,1), rgba(0,70,200,1));
	background-size: 600% 600%;
	-webkit-animation: animated_backcolor_blue 20s ease infinite; -moz-animation: animated_backcolor_blue 20s ease infinite; -o-animation: animated_backcolor_blue 20s ease infinite; animation: animated_backcolor_blue 20s ease infinite;
}
.animated_backcolor_black {
	background: linear-gradient(227deg, #000, #222, #555);
	background-size: 600% 600%;
	-webkit-animation: animated_backcolor_blue 30s ease infinite; -moz-animation: animated_backcolor_blue 30s ease infinite; -o-animation: animated_backcolor_blue 30s ease infinite; animation: animated_backcolor_blue 30s ease infinite;
}

@-webkit-keyframes animated_backcolor_blue {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes animated_backcolor_blue {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-o-keyframes animated_backcolor_blue {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes animated_backcolor_blue {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

.back_angular_white {
	background: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, rgba(67, 67, 67, 0.02) 29%,rgba(47, 47, 47, 0.02) 29%, rgba(47, 47, 47, 0.02) 37%,rgba(23, 23, 23, 0.02) 37%, rgba(23, 23, 23, 0.02) 55%,rgba(182, 182, 182, 0.02) 55%, rgba(182, 182, 182, 0.02) 69%,rgba(27, 27, 27, 0.02) 69%, rgba(27, 27, 27, 0.02) 71%,rgba(250, 250, 250, 0.02) 71%, rgba(250, 250, 250, 0.02) 100%),linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, rgba(117, 117, 117, 0.02) 14%,rgba(199, 199, 199, 0.02) 14%, rgba(199, 199, 199, 0.02) 40%,rgba(33, 33, 33, 0.02) 40%, rgba(33, 33, 33, 0.02) 48%,rgba(135, 135, 135, 0.02) 48%, rgba(135, 135, 135, 0.02) 60%,rgba(148, 148, 148, 0.02) 60%, rgba(148, 148, 148, 0.02) 95%,rgba(53, 53, 53, 0.02) 95%, rgba(53, 53, 53, 0.02) 100%),linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 6%,rgba(251, 251, 251, 0.02) 6%, rgba(251, 251, 251, 0.02) 18%,rgba(2, 2, 2, 0.02) 18%, rgba(2, 2, 2, 0.02) 27%,rgba(253, 253, 253, 0.02) 27%, rgba(253, 253, 253, 0.02) 49%,rgba(128, 128, 128, 0.02) 49%, rgba(128, 128, 128, 0.02) 76%,rgba(150, 150, 150, 0.02) 76%, rgba(150, 150, 150, 0.02) 100%),linear-gradient(90deg, #FFF,#FFF);
}

.back_angular_white2 {
	background: linear-gradient(22.5deg, rgba(66, 66, 66, 0.02) 0%, rgba(66, 66, 66, 0.02) 11%,rgba(135, 135, 135, 0.02) 11%, rgba(135, 135, 135, 0.02) 24%,rgba(29, 29, 29, 0.02) 24%, rgba(29, 29, 29, 0.02) 38%,rgba(15, 15, 15, 0.02) 38%, rgba(15, 15, 15, 0.02) 50%,rgba(180, 180, 180, 0.02) 50%, rgba(180, 180, 180, 0.02) 77%,rgba(205, 205, 205, 0.02) 77%, rgba(205, 205, 205, 0.02) 100%),linear-gradient(67.5deg, rgba(10, 10, 10, 0.02) 0%, rgba(10, 10, 10, 0.02) 22%,rgba(52, 52, 52, 0.02) 22%, rgba(52, 52, 52, 0.02) 29%,rgba(203, 203, 203, 0.02) 29%, rgba(203, 203, 203, 0.02) 30%,rgba(69, 69, 69, 0.02) 30%, rgba(69, 69, 69, 0.02) 75%,rgba(231, 231, 231, 0.02) 75%, rgba(231, 231, 231, 0.02) 95%,rgba(138, 138, 138, 0.02) 95%, rgba(138, 138, 138, 0.02) 100%),linear-gradient(112.5deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 17%,rgba(190, 190, 190, 0.02) 17%, rgba(190, 190, 190, 0.02) 39%,rgba(186, 186, 186, 0.02) 39%, rgba(186, 186, 186, 0.02) 66%,rgba(191, 191, 191, 0.02) 66%, rgba(191, 191, 191, 0.02) 68%,rgba(16, 16, 16, 0.02) 68%, rgba(16, 16, 16, 0.02) 70%,rgba(94, 94, 94, 0.02) 70%, rgba(94, 94, 94, 0.02) 100%),linear-gradient(90deg, #FFF,#FFF);
}

.back_angular_black01 {
	background: linear-gradient(50deg, rgba(146, 146, 146, 0.02) 0%, rgba(146, 146, 146, 0.02) 25%,rgba(82, 82, 82, 0.02) 25%, rgba(82, 82, 82, 0.02) 50%,rgba(217, 217, 217, 0.02) 50%, rgba(217, 217, 217, 0.02) 75%,rgba(41, 41, 41, 0.02) 75%, rgba(41, 41, 41, 0.02) 100%),linear-gradient(252deg, rgba(126, 126, 126, 0.01) 0%, rgba(126, 126, 126, 0.01) 25%,rgba(117, 117, 117, 0.01) 25%, rgba(117, 117, 117, 0.01) 50%,rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 75%,rgba(41, 41, 41, 0.01) 75%, rgba(41, 41, 41, 0.01) 100%),linear-gradient(272deg, rgba(166, 166, 166, 0.01) 0%, rgba(166, 166, 166, 0.01) 20%,rgba(187, 187, 187, 0.01) 20%, rgba(187, 187, 187, 0.01) 40%,rgba(238, 238, 238, 0.01) 40%, rgba(238, 238, 238, 0.01) 60%,rgba(204, 204, 204, 0.01) 60%, rgba(204, 204, 204, 0.01) 80%,rgba(5, 5, 5, 0.01) 80%, rgba(5, 5, 5, 0.01) 100%),linear-gradient(86deg, rgba(143, 143, 143, 0.02) 0%, rgba(143, 143, 143, 0.02) 12.5%,rgba(36, 36, 36, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 25%,rgba(23, 23, 23, 0.02) 25%, rgba(23, 23, 23, 0.02) 37.5%,rgba(223, 223, 223, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 62.5%,rgba(94, 94, 94, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 75%,rgba(148, 148, 148, 0.02) 75%, rgba(148, 148, 148, 0.02) 87.5%,rgba(107, 107, 107, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(25deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 16.667%,rgba(51, 51, 51, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 33.334%,rgba(26, 26, 26, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 50.001000000000005%,rgba(238, 238, 238, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 66.668%,rgba(128, 128, 128, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(325deg, rgba(95, 95, 95, 0.03) 0%, rgba(95, 95, 95, 0.03) 14.286%,rgba(68, 68, 68, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 28.572%,rgba(194, 194, 194, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 42.858%,rgba(51, 51, 51, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 57.144%,rgba(110, 110, 110, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 71.42999999999999%,rgba(64, 64, 64, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 85.71600000000001%,rgba(31, 31, 31, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(90deg, hsl(80,0%,14%),hsl(80,0%,14%));
}

.flexGridContainer {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; width: 100%;
}
.flexGridContainer_pad5mm {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; width: calc(100% - 10mm); padding: 5mm 5mm 0mm 5mm;
}
.flexGridContainer_pad3mm {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; width: calc(100% - 6mm); padding: 3mm 3mm 3mm 3mm;
}
.flexGridContainer .fg100p {
	width: 100%; display: block;
}
.flexGridContainer .fg70p {
	width: 70%;
}
.flexGridContainer .fg50p {
	width: 50%;
}
.flexGridContainer .fg50p10gap {
	width: calc((100% / 2) - 5px);
}
.flexGridContainer .fg50p3mmgap {
	width: calc((100% / 2) - (3mm / 2));
}
.flexGridContainer .fg50p5mmgap {
	width: calc((100% / 2) - (5mm / 2));
}
.flexGridContainer .fg3rd5gap {
	width: calc((100% / 3) - 8px);
}
.flexGridContainer .fg50p5mmgapPad {
	width: calc((100% / 2) - 6mm - (3mm / 2)); padding: 3mm;
}
.flexGridContainer .fg50p5mmgapPad2 {
	width: calc((100% / 2) - 6mm - (5mm / 2)); padding: 3mm;
}
.flexGridContainer .fg40p5gap{
	width: calc(40% - (5mm / 2));
}
.flexGridContainer .fg60p5gap{
	width: calc(60% - (5mm / 2));
}
.flexGridContainer .fg30p {
	width: 30%;
}
.flexGridContainer .fg3col {
	width: calc(100% / 3);
}
.flexGridContainer .fg3col3mmgap {
	width: calc((100% / 3) - (6mm / 3));
}
.flexGridContainer .fg50p5mm {
	width: calc((100% / 2) - 2.5mm);
}

.flexchildmarginright5px *	{
	margin: 0 5px 0 0;
}
.flexchildmarginright5px *:last-child	{
	margin: 0 0 0 0;
}

@media screen and (max-width: 768px) {

	body {
		width: 100%!important;
	}
	.mobShowFlex {
		display: flex!important;
	}
	.mobShowBlock {
		display: block!important;
	}
	.mobHideFlex, .mobHideBlock {
		display: hide!important;
	}

	.flexGridContainer .fg100p, .flexGridContainer .fg70p, .flexGridContainer .fg50p10gap, .flexGridContainer .fg3rd5gap, .flexGridContainer .fg50p, .flexGridContainer .fg30p {
		width: 100%!important;
	}
	.flexGridContainer .fg3rd5gap {
		margin: 0 0 10px 0!important;
	}
	.flexGridContainer .fg3rd5gap:last-child {
		margin: 0 0 0 0!important;
	}
	.flexGridContainer {
		flex-direction: column!important;
	}
}
