/** BOOM **/
/** START OF WEB STYLESHEETS **/

.headerContainer {
  display: flex; justify-content: center; align-items: center; width: 100%; height: 100px; position: fixed; z-index: 10; background-color: #FFF;
}
.headerContainer .headerContent {
  display: flex; justify-content: flex-start; align-items: center; width: 80%; max-width: 1200px; height: 100px;
}
.headerContainer .headerContent .logoContainer {
  display: flex; justify-content: flex-start; align-items: center; width: 120px; height: 100px;
}
.headerContainer .headerContent .logoContainer .logo {
  width: 100px;
}
.headerContainer .headerContent .navContainer {
  display: flex; justify-content: flex-end; align-items: center; width: calc(100% - 120px); height: 100px;
}
.headerContainer .headerContent .navContainer > nav.defaultSize {
  display: flex; justify-content: flex-end; align-items: center;
}
.headerContainer .headerContent .navContainer > nav.defaultSize a {
  display: flex; justify-content: center; align-items: center; height: auto; text-align: center; font:12px/12px 'Poppins'; font-weight: 500; color: rgba(0,0,0,0.5); margin: 0 0 0 20px; z-index: 1;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > a > span {
  width: 15px;
}
.headerContainer .headerContent .navContainer > nav.defaultSize a:nth-child(1) {
  margin: 0 0 0 0;
}
.headerContainer .headerContent .navContainer > nav.defaultSize a:hover, .headerContainer .headerContent .navContainer > nav.defaultSize a.active {
  color: rgba(0,70,125,1.0);
}
.headerContainer .headerContent .navContainer > .sosialMediaContainer {
  display: flex; justify-content: flex-end; align-items: center;
}
.headerContainer .headerContent .navContainer > .sosialMediaContainer a {
  display: flex; justify-content: center; align-items: center; color: rgba(0,0,0,0.5); margin: 0 0 0 20px; width: 15px;
}
.headerContainer .headerContent .navContainer > .sosialMediaContainer a:hover {
  color: rgba(0,70,125,1.0);
}


.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton {
  display: flex; justify-content: center; align-items: center; height: 100px; text-align: center; font:12px/12px 'Poppins'; font-weight: 500; color: rgba(0,0,0,0.5); margin: 0 0 0 20px; z-index: 0;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > i {
  font-size: 15px;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title {
  display: flex; flex-direction: column; align-items: flex-end;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton:hover > .title {
  color: rgba(0,70,125,1.0); cursor: pointer;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer {
  display: none; position: absolute; flex-direction: column; margin: 0 0 0 0; margin: 20px 0 0 0; padding: 10px 0 0 0;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton:hover > .title > .dropDownContainer {
  display: flex; 
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer > a {
  display: flex; margin: 0; padding: 0; background-color: #DDD; height: auto; text-align: left; justify-content: flex-start; align-items: center; padding: 12px 15px 12px 12px; font:12px/12px 'Poppins'; font-weight: 500;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer > a > span {
  margin: 0 10px 0 0; width: 15px;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer > a > img {
  margin: 0 10px 0 0; width: 15px;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer > a:hover {
  background-color: rgba(0,70,125,1.0); color: #FFF;
}
.headerContainer .headerContent .navContainer > nav.defaultSize > .dropDownButton > .title > .dropDownContainer > a.active {
  background-color: rgba(0,70,125,1.0); color: #FFF;
}

.webNavButton {
  display: none; position: fixed; right: 30px; top: 30px; z-index: 10;
}
.webNavButton a {
  display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; background-color: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5); border-radius: 50%;
}
.webNavButton a:hover {
  background-color: rgba(0,70,125,1.0); color: #FFF;
}
.mobileNavContainer {
  display: flex; width: 100vw; height: 100vh; background-color: #FFF; justify-content: center; align-items: center; flex-direction: column;
}
.mobileNavContainer > nav.mobileSize {
  display: flex; justify-content: flex-end; align-items: center; flex-direction: column; margin: 0 0 30px 0; width: 70%;
}
.mobileNavContainer > nav.mobileSize a {
  display: flex; justify-content: center; align-items: center; height: auto; text-align: center; font:32px/32px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.5); margin: 10px 0 0 0;
}
.mobileNavContainer > nav.mobileSize a:nth-child(1) {
  margin: 0 0 0 0;
}
.mobileNavContainer > nav.mobileSize a:hover, .mobileNavContainer > nav.mobileSize a.active {
  color: rgba(0,70,125,1.0);
}

.mobileNavContainer > nav.mobileSize .buttonLink {
  display: flex; justify-content: flex-start; align-items: center; height: auto; text-align: left; font:14px/14px 'Poppins'; font-weight: 600; color: #FFF; margin: 10px 0 0 0; padding: 12px 15px 12px 12px; background-color: rgba(0,70,125,1.0); width: calc(100% - 30px);
}
.mobileNavContainer > nav.mobileSize .buttonLink > span {
  margin: 0 12px 0 0; width: 15px;
}
.mobileNavContainer > nav.mobileSize .buttonLink:hover, .mobileNavContainer > nav.mobileSize .buttonLinka.active {
  background-color: rgba(0,70,125,1.0); color: #FFF;
}

.mobileNavContainer > .sosialMediaContainer {
  display: flex; justify-content: flex-end; align-items: center;
}
.mobileNavContainer > .sosialMediaContainer a {
  display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; background-color: rgba(0,70,125,1.0); color: #FFF; border-radius: 50%; margin: 0 10px;
}
.mobileNavContainer > .sosialMediaContainer a:hover {
  background-color: rgba(0,70,125,1.0); color: #FFF;
}

.mobileNavContainer > .langSelector {
  display: flex; justify-content: flex-end; align-items: center; margin: 20px 0 0 0;
}
.mobileNavContainer > .langSelector > a {
  display: flex; justify-content: flex-end; align-items: center; margin: 0 15px; opacity: 0.5;
}
.mobileNavContainer > .langSelector > a > img {
  display: flex; justify-content: flex-end; align-items: center; width: 30px; border: 1px solid #AAA; 
}
.mobileNavContainer > .langSelector > a:hover, .mobileNavContainer > .langSelector > a.active {
  opacity: 1;
}

.webContactUs {
  display: flex; position: fixed; right: 20px; bottom: 90px; z-index: 10;
}
.webContactUs a {
  display: flex; justify-content: center; align-items: center; width: 36px; height: 36px; border: 1px solid rgba(0,0,0,0.5); color: rgba(0,0,0,0.5); border-radius: 50%; background-color: #FFF;
}
.webContactUs a:hover {
  border: 1px solid rgba(0,70,125,1.0); background-color: rgba(0,70,125,1.0); color: #FFF; border-radius: 50%;
}

.contactUsContainer h1 {
  font:32px/32px 'Poppins'; font-weight: 500; color: rgba(0,70,125,1.0);
}
.contactUsContainer form {
  width: 100%; margin: 20px 0 0 0;
}
.contactUsContainer form .webFormItem {
  width: 100%; display: flex; flex-direction: column; margin: 0 0 10px 0;
}
.contactUsContainer form .webFormItem label {
  width: 100%; font:12px/12px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.5);
}
.contactUsContainer form .webFormItem input[type=text], .contactUsContainer form .webFormItem input[type=email] {
  width: 100%; padding: 10px; margin: 5px 0; box-sizing: border-box; border: 2px solid rgba(0,0,0,0.2); font:12px/12px 'Poppins'; font-weight: 600; color: #000;
}
.contactUsContainer form .webFormItem input[type=text]:focus, .contactUsContainer form .webFormItem input[type=email]:focus {
  border: 2px solid rgba(0,70,125,1.0);; color: rgba(0,70,125,1.0);
}
.contactUsContainer form .webFormItem textarea {
  width: 100%; padding: 10px; margin: 5px 0; box-sizing: border-box; border: 2px solid rgba(0,0,0,0.2); border-radius: 0; font:12px/12px 'Poppins'; font-weight: 600; color: #000;
}
.contactUsContainer form .webFormItem textarea:focus {
  border: 2px solid rgba(0,70,125,1.0); color: rgba(0,70,125,1.0);
}
.contactUsContainer form input[type=submit] {
  font:12px/12px 'Poppins'; font-weight: 600; color: #FFF; background-color: rgba(0,0,0,0.5); border: 0; padding: 10px 15px;
}
.contactUsContainer form input[type=submit]:hover {
  color: #FFF; background-color: rgba(0,70,125,1.0);
}

.footerContainer {
  display: flex; justify-content: center; align-items: flex-start; width: 100%; background-color: rgba(0,0,0,0.1); padding: 20px 0;
}
.footerContainer .footerContent {
  display: flex; justify-content: flex-start; align-items: flex-start; width: 80%; max-width: 1200px; flex-direction: column;
}
.footerContainer .footerContent .siteMap {
  display: flex; justify-content: space-between; align-items: flex-start; flex-direction: row; width: 100%; flex-wrap: wrap;
}
.footerContainer .footerContent .siteMap .siteMapItem {
  display: flex; width: calc((100% / 4) - (60px / 4)); flex-direction: column;
}
.footerContainer .footerContent .siteMap .siteMapItem > .subMap {
  display: flex; width: 100%; flex-direction: column; border-top: 1px solid rgba(0,0,0,0.1); padding: 5px 0 0 0;
}
.footerContainer .footerContent .siteMap .siteMapItem > a {
  font:12px/12px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.5); margin: 10px 0 5px 0;
}
.footerContainer .footerContent .siteMap .siteMapItem > a:nth-child(1) {
  margin: 0 0 5px 0;
}
.footerContainer .footerContent .siteMap .siteMapItem > .subMap > a {
  font:11px/11px 'Poppins'; font-weight: 500; color: rgba(0,0,0,0.5); margin: 5px 0 0 0;
}
.footerContainer .footerContent .siteMap .siteMapItem > .subMap > a:nth-child(1) {
  margin: 0 0 0 0;
}
.footerContainer .footerContent .siteMap .siteMapItem > a:hover, .footerContainer .footerContent .siteMap .siteMapItem > .subMap > a:hover {
  color: rgba(0,70,125,1.0);
}

.footerContainer .footerContent .footerEnd {
  display: flex; justify-content: flex-start; align-items: center; flex-direction: row; width: 100%; margin-top: 20px;
}
.footerContainer .footerContent .footerEnd > .logo{
  width: 60px;
}
.footerContainer .footerContent .footerEnd > .desc{
  font:10px/10px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.4); margin: 0 0 0 10px;
}


.webSpotlightContainer {
  display: flex; width: 100vw; height: 100vh; padding: 0; justify-content: center; align-items: center; z-index: 1; position: relative;
}
.webSpotlightContainer .webSpotlightContent {
  display: flex; width: 80%; max-width: 1200px; flex-direction: column;
}
.webSpotlightContainer .webSpotlightContent h1 {
  font:52px/52px 'Poppins'; font-weight: 800; color: rgba(0,70,125,1.0); max-width: 800px; margin: 10px auto 0 auto; text-align: center; width: 100%;
}
.webSpotlightContainer .webSpotlightContent .webSpotlightImage {
  width: 800px; margin: 0 auto;
}
.webSpotlightContainer .scrollDownIcon {
  width: 40px; position: absolute; bottom: 50px;
}

.sectionContainer {
  display: flex; width: 100vw; padding: 50px 0; justify-content: center; align-items: center; z-index: 1;
}
.sectionContainer.noTopPad {
  padding: 0 0 50px 0;
}
.sectionContainer.noTopBottomPad {
  padding: 0 0 0 0;
}
.sectionContainer > .sectionContent {
  display: flex; width: 100%; max-width: 1000px; flex-direction: column; align-items: center; justify-content: flex-start;
}
.sectionContainer > .sectionContent h1 {
  font:52px/52px 'Poppins'; font-weight: 700; color: rgba(0,70,125,1.0); text-align: center; margin: 10px 0 10px 0;
}
.sectionContainer > .sectionContent h2 {
  font:32px/32px 'Poppins'; font-weight: 600; color: rgba(0,70,125,1.0); text-align: center; margin: 0 0 10px 0;
}
.sectionContainer > .sectionContent h3 {
  font:16px/16px 'Poppins'; font-weight: 600; color: rgba(0,70,125,1.0); text-align: center; margin: 10px 0 10px 0; text-transform: uppercase;
}
.sectionContainer > .sectionContent p {
  font:12px/18px 'Poppins'; font-weight: 400; color: #000; margin: 10px 0 0 0!important; text-align: center;
}
.sectionContainer > .sectionContent p:first-child {
  margin: 0 0 0 0!important;
}
.sectionContainer > .sectionContent > .titleImage {
  width: 800px;
}
.sectionContainer > .sectionContent > .titleDesc {
  width: 800px;
}


/** ------------------------- **/

.sectionContainer > .sectionContent > .sectionContentSplit2 {
  display: flex; justify-content: center; align-items: center; width: 1000px;
}
.sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem01 {
  display: flex; justify-content: flex-end; align-items: center; width: 300px;
}
.sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem01 > .sectionImage {
  width: 300px; max-width: auto;
}
.sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem02 {
  display: flex; justify-content: center; align-items: flex-start; width: calc(100% - 300px - 20px); margin: 0 0 0 20px; flex-direction: column; text-align: left;
}
.sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem02 > p {
  text-align: left;
}

.sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit {
  display: flex; justify-content: center; align-items: center; width: 1000px; flex-direction: row-reverse
  ;
}
.sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem01 {
  justify-content: flex-start;
}
.sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem02 {
  align-items: flex-end; margin: 0 20px 0 0; 
}
.sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem02 {
  text-align: right; 
}
.sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem02 > p {
  text-align: right; 
}

/** ------------------------- **/

.sectionContainer > .sectionContent > .partnersList {
  display: flex; justify-content:space-evenly; align-items: flex-start; width: 800px; flex-wrap: wrap; margin: 10px 0 0 0;
}
.sectionContainer > .sectionContent > .partnersList > .partnersItem {
  display: flex; justify-content: center; align-items: center; width: calc((100% / 4) - 20px - (60px / 4)); margin: 20px 20px 0 0; padding: 10px; height: 70px;
}
.sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(4n+4) {
  margin: 20px 0 0 0;
}
.sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(1), .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(2), .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(3) {
  margin: 0px 20px 0 0;
}
.sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(4) {
  margin: 0px 0px 0 0;
}
.sectionContainer > .sectionContent > .partnersList > .partnersItem > img {
  max-height: 70px;
}

/** ------------------------- **/

.servicesList {
  display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap; margin: 0 0 0 0; width: 1000px;
}
.servicesList .servicesItem {
  display: flex; justify-content:space-between; align-items: center; flex-direction: column; width: calc((100% / 3) - 40px - (40px / 3)); padding: 20px; background-color: rgba(0,0,0,0.1); margin-top: 20px;
}
.servicesList .servicesItem:nth-child(1), .servicesList .servicesItem:nth-child(2), .servicesList .servicesItem:nth-child(3) {
  margin-top: 0px;
}
.servicesList .servicesItem h3 {
  margin: 0; width: 100%; text-align: center; font:14px/14px 'Poppins'; font-weight: 600;
}
.servicesList .servicesItem p {
  font:11px/14px 'Poppins'; font-weight: 400; text-align: center; margin: 0;
}
.servicesList .servicesItem a {
  display: flex; justify-content: center; align-items: center; margin: 20px 0 0 0; padding: 10px 5px; background-color: rgba(0,0,0,0.5); color: #FFF; font:12px/12px 'Poppins'; font-weight: 500;
}
.servicesList .servicesItem a:hover {
  background-color: rgba(0,70,125,1.0);
}
.servicesList .servicesItem a span {
  margin: 0 5px;
}

.servicesList .servicesItem.split2 {
  display: flex; justify-content: flex-start; align-items: center; flex-direction: column; width: calc((100% / 2) - 40px - (20px / 2)); padding: 20px; background-color: rgba(0,0,0,0.1); margin-top: 20px;
}
.servicesList .servicesItem:nth-child(1).split2, .servicesList .servicesItem:nth-child(2).split2 {
  margin-top: 0px;
}

/** ------------------------- **/

.faqContainer {
  margin: 50px 0 0 0;
}
.faqContainer > li > a {
  font:16px/16px 'Poppins'; font-weight: 600; color: #000; 
}
.faqContainer > li > a:focus, .faqContainer > li > a:hover {
  color: rgba(0,70,125,1.0);
}
.faqContainer > li > .uk-accordion-content > p {
  font:12px/14px 'Poppins'; font-weight: 500;
}

/** ------------------------- **/

.listContainer {
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch; width: 1000px; margin: 40px 0 0 0;
}
.listContainer .listItem01 {
  display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: calc((100% / 4) - 40px - (60px / 4)); background-color:rgba(0,0,0,0.1); padding: 20px;
}
.listContainer .listItem01 .listImage {
  height: 120px; margin: 0;
}
.listContainer .listItem01 .descContainer {
  margin: 10px 0 0 0;
}


.listContainer .listItem02 {
  display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; width: calc((100% / 5) - 40px - (80px / 5)); background-color:rgba(0,0,0,0.1); padding: 20px;
}
.listContainer .listItem02 .listImage {
  height: 100px; margin: 0;
}
.listContainer .listItem02 .descContainer {
  margin: 10px 0 0 0;
}

.listContainer .listItem01 .descContainer h3, .listContainer .listItem02 .descContainer h3 {
  font:14px/14px 'Poppins'; font-weight: 600;
}

.listContainer .listItem01 .descContainer p, .listContainer .listItem02 .descContainer p {
  font:11px/14px 'Poppins'; font-weight: 400; text-align: center;
}


.listContainer .listItem03 {
  display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; width: calc((100% / 2) - 40px - (20px / 2)); background-color:rgba(0,0,0,0.1); padding: 20px; margin-top: 20px;
}
.listContainer .listItem03:nth-child(1), .listContainer .listItem03:nth-child(2) {
  margin-top: 0px;
}
.listContainer .listItem03 .listImage {
  width: 100px; margin: 0 20px 0 0;
}
.listContainer .listItem03 .descContainer {
  margin: 0 0 0 0; width: calc(100% - 20px); display: flex; align-items: center;
}
.listContainer .listItem03 .descContainer p {
  font:11px/14px 'Poppins'; font-weight: 400; text-align: left;
}

/** ------------------------- **/

.mediaGridContainer {
  display: flex; flex-direction: row; justify-content: flex-start; align-items:stretch; width: 100%; flex-wrap: wrap; margin: 20px 0 0 0;
}
.mediaGridContainer .mediaGridItem {
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; background-color: rgba(0,0,0,0.1); width: calc((100% / 3) - 30px - (40px / 3)); margin: 20px 20px 0 0; padding: 15px; color: rgba(0,0,0,0.7);
}
.mediaGridContainer .mediaGridItem:hover {
  background-color: rgba(0,70,125,1.0); color: rgba(255,255,255,0.7);
}
.mediaGridContainer .mediaGridItem:nth-child(3n+3) {
  margin-right: 0;
}
.mediaGridContainer .mediaGridItem:nth-child(1), 
.mediaGridContainer .mediaGridItem:nth-child(2),
.mediaGridContainer .mediaGridItem:nth-child(3) {
  margin-top: 0;
}

.mediaGridContainer .mediaGridItem .articleTitle {
  display: flex; width: 100%; font:16px/16px 'Poppins'; font-weight: 600; margin: 0 0 5px 0; border-bottom: 1px solid rgba(0,0,0,0.1); padding: 0 0 5px 0; color: rgba(0,70,125,1.0);
}
.mediaGridContainer .mediaGridItem:hover .articleTitle {
  border-bottom: 1px solid rgba(255,255,255,0.3); color: #FFF;
}
.mediaGridContainer .mediaGridItem .smallText {
  display: flex; width: 100%; font:10px/10px 'Poppins'; font-weight: 400; margin: 3px 0 0 0;
}
.mediaGridContainer .mediaGridItem .labelContainer {
  display: flex; width: 100%; margin: 8px 0 0 0;
}
.mediaGridContainer .mediaGridItem .labelContainer > .labelItem {
  display: flex; font:11px/11px 'Poppins'; font-weight: 500; padding: 3px 5px; margin: 0 0 0 5px; border-radius: 3px;
}
.mediaGridContainer .mediaGridItem .labelContainer > .labelItem:nth-child(1) {
  margin: 0 0 0 0;
}
.mediaGridContainer .mediaGridItem .labelContainer > .labelItem.newsItem {
  background-color: goldenrod; color: #FFF;
}
.mediaGridContainer .mediaGridItem .labelContainer .labelItem.articleItem {
  background-color: dodgerblue; color: #FFF;
}
.mediaGridContainer .mediaGridItem .labelContainer .labelItem.funFactItem {
  background-color: blueviolet; color: #FFF;
}
.mediaGridContainer .mediaGridItem:hover .labelContainer > .labelItem {
  background-color: #FFF; color: rgba(0,70,125,1.0);
}



.sectionContainer > .sectionContent > article {
  display: flex; flex-direction: column; align-items: center; width: 800px;
}
.sectionContainer > .sectionContent > article .labelContainer {
  display: flex; justify-content: center; align-items: center; 
}
.sectionContainer > .sectionContent > article .labelContainer > .labelItem {
  display: flex; justify-content: center; align-items: center; padding: 5px 10px; font:12px/12px 'Poppins'; font-weight: 600; margin: 0 5px;
}
.sectionContainer > .sectionContent > article .labelContainer > .labelItem.newsItem {
  background-color: goldenrod; color: #FFF;
}
.sectionContainer > .sectionContent > article .labelContainer > .labelItem.articleItem {
  background-color: dodgerblue; color: #FFF;
}
.sectionContainer > .sectionContent > article .labelContainer > .labelItem.funFactItem {
  background-color: blueviolet; color: #FFF;
}
.sectionContainer > .sectionContent > article .smallText {
  font:12px/12px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.6); text-align: center; margin: 0 0 10px 0;
}
.sectionContainer > .sectionContent > article .smallText a {
  font:12px/12px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.8); text-align: center; margin: 0 0 10px 0;
}
.sectionContainer > .sectionContent > article .smallText a:hover {
  color: rgba(0,70,125,1.0);
}
.sectionContainer > .sectionContent > article .articleContainer {
  margin: 20px 0 0 0;
}
.sectionContainer > .sectionContent > article p {
  font:13px/18px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.6); text-align:justify; margin: 10px 0 0 0!important;
}
.sectionContainer > .sectionContent > article p a {
  font:13px/18px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.8);
}
.sectionContainer > .sectionContent > article p a:hover {
  font:13px/18px 'Poppins'; font-weight: 600; color: rgba(0,70,125,1.0);
}
.sectionContainer > .sectionContent > article img {
  margin: 10px 0 0 0; width: 60%; margin: 10px auto 0 auto; display: block; border: 1px solid rgba(0,0,0,0.2);;
}
.sectionContainer > .sectionContent > article a {
  margin: 10px 0 0 0; width: 80%;
}
.sectionContainer > .sectionContent > article a > img {
  margin: 0 0 0 0; width: 100%;
}
.sectionContainer > .sectionContent > article .textStrong {
  font:13px/18px 'Poppins'; font-weight: 600; color: rgba(0,70,125,1.0);
}
.sectionContainer > .sectionContent > article .textItalic {
  font:13px/18px 'Poppins'; font-weight: 500; color: rgba(0,0,0,0.8); font-style: italic;
}
.sectionContainer > .sectionContent > article a.textSuperScript {
  vertical-align: super; font:8px/8px 'Poppins'; font-weight: 600; margin: 0 0 0 1px;
}
.sectionContainer > .sectionContent > article a:hover.textSuperScript {
  vertical-align: super; font:8px/8px 'Poppins'; font-weight: 600; margin: 0 0 0 1px; color: rgba(0,70,125,1.0);
}

.sectionContainer > .sectionContent > article .quoteHightlight {
  display: flex; justify-content: center; align-items: center; width: calc(80% - 42px); padding: 30px 20px; font:15px/18px 'Poppins'; font-weight: 600; color: rgba(0,70,125,1.0); margin: 10px 0 0 0; border: 1px dashed rgba(0,0,0,0.2); text-align: center;
}
.sectionContainer > .sectionContent > article .aboutAuthor {
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: calc(100% - 40px); padding: 20px 20px; margin: 20px 0 0 0; background-color: rgba(0,0,0,0.1);
}
.sectionContainer > .sectionContent > article .aboutAuthor > h3 {
  font:18px/18px 'Poppins'; font-weight: 600; color: rgba(0,0,0,1); text-align:justify; margin: 0;
}
.sectionContainer > .sectionContent > article .aboutAuthor > a {
  font:13px/13px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.8); text-align:justify; margin: 5px 0 0 0;
}
.sectionContainer > .sectionContent > article .aboutAuthor > a:hover {
  color: rgba(0,70,125,1.0);
}
.sectionContainer > .sectionContent > article .aboutAuthor > p {
  font:13px/18px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.6); text-align:justify; margin: 10px 0 0 0;
}

.sectionContainer > .sectionContent > article > h1 {
  font:36px/40px 'Poppins'; font-weight: 700; color: rgba(0,70,125,1.0); text-align: center; margin: 0 0 20px 0;
}

.sectionContainer > .sectionContent > article ul {
  margin: 0 0 0 0; padding: 0 10px 0 30px; list-style-type: disc; width: calc(100% - 40px);
}
.sectionContainer > .sectionContent > article ul.listNumber {
  list-style-type: decimal;
}
.sectionContainer > .sectionContent > article ul li {
  font:13px/18px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.6); text-align:justify; margin: 10px 0 0 0;
}
.sectionContainer > .sectionContent > article ul li.listBold {
  font:13px/18px 'Poppins'; font-weight: 600;
}
.sectionContainer > .sectionContent > article ul li .title {
  font:13px/18px 'Poppins'; font-weight: 600; color: rgba(0,0,0,1);
}
.sectionContainer > .sectionContent > article .textBold {
  font:13px/18px 'Poppins'; font-weight: 600;
}
.sectionContainer > .sectionContent > article .textBlue {
  color: rgba(0,70,125,1.0)!important;
}
.sectionContainer > .sectionContent > article .textRed {
  color: rgba(133,0,0,1.0)!important;
}

.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer {
  display: block; width: 100%; margin: 30px 0 0 0;
}
.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer > .title {
  font:14px/14px 'Poppins'; font-weight: 600; color: rgba(0,0,0,0.6);
}
.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer ol {
  margin: 0 0 0 0; padding: 0 0 0 30px; width: calc(100% - 30px); display: block; list-style-type: decimal;
}
.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer ol li {
  margin: 10px 0 0 0; font:13px/18px 'Poppins'; font-weight: 400; color: rgba(0,0,0,0.5); text-align:justify;
}
.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer ol li a {
  margin: 10px 0 0 0; font:13px/18px 'Poppins'; font-weight: 500; color: rgba(0,0,0,0.6); text-align:justify;
}
.sectionContainer > .sectionContent > article > .articleContainer > .referencesContainer ol li a:hover {
  color: rgba(0,70,125,1.0);
}

.sectionContainer > .sectionContent > article .imageCaption {
  display:block; text-align: center; font:10px/10px 'Poppins'; font-weight: 400; font-style: italic; margin: 5px 0 0 0;
}


/** ------------------------- **/

/** END OF WEB STYLESHEETS **/

@media screen and (max-width: 768px) {
	
	.headerContainer .headerContent {
    width: calc(100% - 40px); padding: 0 20px;
  }
  .headerContainer .headerContent .logoContainer {
    display: flex; justify-content: center; align-items: center; width: 100%; height: 100px;
  }
  .headerContainer .headerContent .navContainer {
    display: none;
  }
  .footerContainer .footerContent {
    width: calc(100% - 40px); padding: 0 20px;
  }
  .footerContainer .footerContent .siteMap .siteMapItem {
    display: flex; width: calc((100% / 2) - (20px / 2)); margin: 20px 0 0 0;
  }
  .footerContainer .footerContent .siteMap .siteMapItem:nth-child(1), .footerContainer .footerContent .siteMap .siteMapItem:nth-child(2) {
    margin: 0 0 0 0;
  }
  .webNavButton {
    display: flex;
  }
  .webSpotlightContainer .webSpotlightContent {
    width: calc(100% - 40px); padding: 0 20px;
  }
  .webSpotlightContainer .webSpotlightContent h1 {
    width: 100%; font:40px/40px 'Poppins'; font-weight: 600;
  }
  .webSpotlightContainer .webSpotlightContent .webSpotlightImage {
    width: 100%; margin: 0 auto;
  }
  .sectionContainer {
    width: 100%
  }
  .sectionContainer > .sectionContent {
    width: calc(100% - 40px); max-width: calc(100% - 40px); padding: 0 20px;
  }

  .sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem02 p, .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem02 p {
    text-align: center;
  }

  .sectionContainer > .sectionContent > .sectionContentSplit2 {
    display: flex; justify-content: flex-start; align-items: flex-start; width: 100%; flex-direction: column;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem01 {
    display: flex; justify-content: center; align-items: center; width: 100%; margin: 0 0 10px 0;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem01 > .sectionImage {
    width: 200px;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2 > .splitItem02 {
    align-items: center; width: 100%; margin: 0;
  }

  .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit {
    display: flex; justify-content: flex-start; align-items: flex-start; width: 100%; flex-direction: column;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem01 {
    display: flex; justify-content: center; align-items: center; width: 100%; margin: 0 0 10px 0;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem01 > .sectionImage {
    width: 200px;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit > .splitItem02 {
    align-items: center; width: 100%; margin: 0;
  }


  .sectionContainer > .sectionContent > .titleImage {
    width: 100%;
  }
  .sectionContainer > .sectionContent h1 {
    font:38px/38px 'Poppins'; font-weight: 700; color: rgba(0,70,125,1.0); text-align: center; margin: 0 0 10px 0;
  }
  .sectionContainer > .sectionContent h2 {
    font:28px/28px 'Poppins'!important; font-weight: 600!important;
  }
  .sectionContainer > .sectionContent > .partnersList {
    width: calc(100% - 40px);
  }
  .sectionContainer > .sectionContent > .partnersList > .partnersItem {
    width: calc((100% / 2) - 20px - (20px / 2));
  }
  .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(2n+2) {
    margin: 20px 0 0 0;
  }
  .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(1) {
    margin: 0px 20px 0 0;
  }
  .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(2) {
    margin: 0px 0px 0 0;
  }
  .sectionContainer > .sectionContent > .partnersList > .partnersItem:nth-child(3) {
    margin: 20px 20px 0 0;
  }

  .servicesList .servicesItem {
    display: flex; justify-content:space-between; align-items: center; flex-direction: column; width: calc(100% - 40px); padding: 20px; background-color: rgba(0,0,0,0.1); margin-top: 20px;
  }
  .servicesList .servicesItem:nth-child(1) {
    margin-top: 0px;
  }
  .servicesList .servicesItem:nth-child(2), .servicesList .servicesItem:nth-child(3) {
    margin-top: 20px;
  }
  .servicesList .servicesItem h3 {
    margin: 0; height: 42px; display: flex; align-items: center; text-align: center; justify-content: center;
  }
  .servicesList .servicesItem p {
    margin: 0;
  }
  .servicesList .servicesItem a {
    display: flex; justify-content: center; align-items: center; margin: 20px 0 0 0; padding: 10px 5px; background-color: rgba(0,70,125,1.0); color: #FFF; font:10px/10px 'Poppins'; font-weight: 500;
  }
  .servicesList .servicesItem a:hover {
    background-color: rgba(0,70,125,1.0);
  }
  .servicesList .servicesItem a span {
    margin: 0 5px;
  }

  
  .sectionContainer > .sectionContent > article {
    width: 100%;
  }
  .sectionContainer > .sectionContent > article img {
    margin: 10px 0 0 0; width: calc(100% - 2px);
  }
  .sectionContainer > .sectionContent > article > a {
    margin: 10px 0 0 0; width: 100%;
  }
  .sectionContainer > .sectionContent > article .quoteHightlight {
    width: calc(100% - 42px)
  }
  
  .sectionContainer > .sectionContent > article ul li > img {
    width: calc(100% - 2px);
  }

}
@media screen and (max-width: 999px) {

  
  .sectionContainer > .sectionContent {
    width: calc(100% - 40px); max-width: calc(100% - 40px); padding: 0 20px;
  }

  .sectionContainer > .sectionContent > .titleDesc {
    width: 100%;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2 {
    width: 100%;
  }
  .sectionContainer > .sectionContent > .sectionContentSplit2.reverseSplit {
    width: 100%;
  }

  .listContainer {
    width: 100%;
  }
  .listContainer .listItem01 {
    width: calc((100% / 2) - 40px - (20px / 2)); margin-top: 20px;
  }
  .listContainer .listItem01 .listImage {
    height: 120px; margin: 0;
  }
  .listContainer .listItem01 .descContainer {
    margin: 10px 0 0 0;
  }
  
  
  .listContainer .listItem02 {
    width: calc((100% / 2) - 40px - (20px / 2)); margin-top: 20px;
  }
  .listContainer .listItem02 .listImage {
    height: 100px; margin: 0;
  }
  .listContainer .listItem02 .descContainer {
    margin: 10px 0 0 0;
  }

  .listContainer .listItem03 {
    flex-direction: column; width: calc((100% / 2) - 40px - (20px / 2)); margin-top: 20px; align-items: center;
  }
  .listContainer .listItem03 .listImage {
    height: 100px; margin: 0;
  }
  .listContainer .listItem03 .descContainer {
    margin: 10px 0 0 0; width: calc(100% - 0px); display: flex; align-items: center;
  }
  .listContainer .listItem03 .descContainer p {
    font:11px/14px 'Poppins'; font-weight: 400; text-align: center;
  }

  
  .listContainer .listItem01:nth-child(1), .listContainer .listItem02:nth-child(1),
  .listContainer .listItem01:nth-child(2), .listContainer .listItem02:nth-child(2) {
    margin-top: 0px;
  }

  .servicesList {
    width: calc(100% - 0px);
  }

  .servicesList .servicesItem {
    width: calc((100% / 2) - 40px - (20px / 2)); margin-top: 20px;
  }
  .servicesList .servicesItem:nth-child(1), .servicesList .servicesItem:nth-child(2) {
    margin-top: 0px;
  }
  .servicesList .servicesItem:nth-child(3) {
    margin-top: 20px;
  }
  .servicesList .servicesItem h3 {
    margin: 0;
  }
  .servicesList .servicesItem p {
    margin: 0;
  }

  .mediaGridContainer .mediaGridItem {
    width: 100%; margin: 20px 0 0 0;
  }
  .mediaGridContainer .mediaGridItem:nth-child(3n+3) {
    margin-right: auto;
  }
  .mediaGridContainer .mediaGridItem:nth-child(1) {
    margin-top: 0;
  }
  .mediaGridContainer .mediaGridItem:nth-child(2), .mediaGridContainer a.mediaGridItem:nth-child(3) {
    margin-top: 20px;
  }

}